
	<div data-page="airConditionerIpad" class="page mobileNotSelect" id="airConditionerIpad">
<div class="navbar">
	<div class="navbar-inner">
         <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
		<div class="center sliding title">空调</div>
		<div class="right"><a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
	</div>
</div>		
		<div class="page-content tabs-animated-wrap">
			<div class="mainDiv">
				<!-- 头部温度说明及按钮控制 -->
				<div class="headerDivAirIpad ">
					<div class="headerDivAirIpadleft fleft">
						<div class="temperature_labelAirIpad align_right fleft">
							<font class="inline_block valign_center">室内温度</font>
						</div>
						<div class="temperature_numberAirIpad align_right fleft">
							<font class="inline_block valign_center">26</font>
						</div>
						<div class="temperature_unitAirIpad align_center fleft">
							<label class="inline_block valign_70">℃</label>
						</div>
					</div>
					<div class="headerDivAirIpadRight fright">
						<label class="sceneButton">
							<input type="checkbox">
					  		<span class="divblok" id="test" draggable="true"></span>
					 		<span></span>
					  		<span></span>
						</label>
					</div>
				</div>
				
				<!-- 空调温度显示区域 -->
				<div class="contentDivAirIpad ">
					<div class="contentDivAirIpadleft fleft ">
						<div class="contentDivAirIpadleftFont">
						 	<label class="inline_block valign_center">调节室内温度</label>
						</div>
						<div class="contentDivAirIpadleftCircle">
							<div id="clockChoiceAirIpad"></div>
						</div>
						<div class="contentDivAirIpadleftFoot">
							
						</div>
					</div>
					<div class="contentDivAirIpadCenter fleft">
						
					</div>
					<div class="contentDivAirIpadRight fright">
						<div class="contentDivAirIpadRightTop ">
							<label class="inline_block valign_center">调节室内温度</label>
						</div>
						<div class="contentDivAirIpadRightCenter ">
							<div class="contentDivAirIpadRightCenterLabel fleft ">
								<label class="inline_block valign_center">风量</label>
							</div>
							<div class="contentDivAirIpadRightCenterPic fright ">
								<div id="airHigher" class="contentDivAirIpadRightCenterPicFont"><font class="inline_block valign_center ">高</font></div>
								<div id="airIn" class="contentDivAirIpadRightCenterPicFont"><font class="inline_block valign_center ">中</font></div>
								<div id="airlower" class="contentDivAirIpadRightCenterPicFont"><font class="inline_block valign_center ">低</font></div>
							</div>
						</div>
						<div class="contentDivAirIpadRightFooter">
							<div class="contentDivAirIpadRightFooterLabel fleft">
								<label class="inline_block valign_center">模式</label>
							</div>
							<div class="contentDivAirIpadRightFooterPic fright">
								<div id="airZhileng" class="contentDivAirIpadRightFooterPicIcon">
									<i  class="iconfont icon-kongtiao"></i>
								</div>
								<div id="airChushi" class="contentDivAirIpadRightFooterPicIcon">
									<i  class="iconfont icon-chushi"></i>
								</div>
								<div id="airSongfeng" class="contentDivAirIpadRightFooterPicIcon">
									<i  class="iconfont icon-songfeng"></i>
								</div>
								<div id="airZhire" class="contentDivAirIpadRightFooterPicIcon">
									<i  class="iconfont icon-zhire"></i>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
