

	<div data-page="backupfile" class="page mobileNotSelect" id="backupfile">
		<div class="navbar">
	<div class="navbar-inner">
        <div class="left"> <a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">备份文件</div>
        <div class="right"><a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>
		<div class="page-content tabs-animated-wrap">
			<div class="foreignExhibitionContainer">
				<div class="ExhibitionBtn row" style="top:5%">
					<div class="col-50">
						<a class="ExhibitionBtn_a" style="width: 7rem;height: 7rem;"><img src="/Image/viewPage/btn_open.png" style="width: 3rem;margin-left: -1.5rem;margin-top: -1.5rem;"/></a>
						<a class="displayNone ExhibitionBtn_a" style="width: 7rem;height: 7rem;"><img src="/Image/viewPage/btn_open.png" style="width: 3rem;height: 3rem;margin-left: -1.5rem;margin-top: -1.5rem;" /></a>
						<p style="color: #D3D8D7;">开始备份</p>
					</div>
					<div class="col-50">
						<a class="ExhibitionBtn_a" style="width: 7rem;height: 7rem;"><img src="/Image/viewPage/btn_close.png" style="width: 3rem;margin-left: -1.5rem;margin-top: -1.5rem;" /></a>
						<a class="displayNone ExhibitionBtn_a" style="width: 7rem;height: 7rem;"><img src="/Image/viewPage/btn_close.png" style="width: 3rem;height: 3rem;margin-left: -1.5rem;margin-top: -1.5rem;" /></a>
						<p style="color: #D3D8D7;">停止备份</p>
					</div>
					<span class="tooipSpan displayNone viceSpan">正在执行，请稍后...</span>
				</div>
				<div class="contentfileUl">
					<div class="alignHalfBox">
						<ul>
							<li>文件名称</li>
							<li><a href="#">2017年9月10日会议录音</a></li>
							<li><a href="#">2017年9月10日会议录音</a></li>
							<li><a href="#">2017年9月10日会议录音</a></li>
							<li><a href="#">2017年9月10日会议录音</a></li>
							<li><a href="#">2017年9月10日会议录音</a></li>
							<li><a href="#">2017年9月10日会议录音</a></li>
						</ul>
					</div>
					<div class="alignHalfBox">
						<ul>
							<li>路径</li>
							<li><a href="#">D:\game\shikuang\ganweiruanjian</a></li>
							<li><a href="#">D:\game\shikuang\ganweiruanjian</a></li>
							<li><a href="#">D:\game\shikuang\ganweiruanjian</a></li>
							<li><a href="#">D:\game\shikuang\ganweiruanjian</a></li>
							<li><a href="#">D:\game\shikuang\ganweiruanjian</a></li>
							<li><a href="#">D:\game\shikuang\ganweiruanjian</a></li>
						</ul>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
