

    <div data-page="bigScreen" class="page mobileNotSelect" id="bigScreen">
        <div class="navbar">
    <div class="navbar-inner">
           <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">大屏</div>
        <div class="right"> <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>
        <div class="page-content tabs-animated-wrap">
           <div class="containerScreen clear">
              <div class="leftScreen">
                  <div class="nav-title">信号源</div>
                  <div class="bigScreenMenu"><a href="#" class="bigScreenMenuBG" id="bigScreenMenu1">常用</a><a href="#" class="" id="bigScreenMenu2">全部</a></div>

                  <ul id="bigScreenContent1">
                    <li><a href="#" draggable="true" class="leftButton selectScreenLeft1"   dataLeft="17">[17]大屏幕前</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="18">[18]大屏幕中</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="19">[19]主席桌中</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="20">[20]主席桌前</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataleft="22">[22]思科输出</a></li>
                     <li style="display: none;"><a href="#" draggable="true" class="leftButton"   dataLeft="26">[26]工作电脑</a></li>                           
                  </ul>               
                  <ul id="bigScreenContent2" class="displayNone">
                    <li><a href="#" draggable="true" class="leftButton selectScreenLeft" dataLeft="1">[1]信息盒2VGA</a></li>
                    <li><a href="#" draggable="true" class="leftButton"  dataLeft="2">[2]信息盒VGA1</a></li>
                    <li><a href="#" draggable="true" class="leftButton1"   dataLeft="3">[3]输入端口3</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="4">[4]输入端口4</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="5">[5]输入端口5</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="6">[6]输入端口6</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="7">[7]输入端口7</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="8">[8]输入端口8</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="9">[9]输入端口9</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="10">[10]输入端口10</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="11">[11]输入端口11</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="12">[12]输入端口12</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="13">[13]输入端口13</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="14">[14]输入端口14</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="15">[15]输入端口15</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="16">[16]输入端口16</a></li>

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="17">[17]会议桌HDMI1</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="18">[18]信息盒HDMI2</a></li>

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="19">[19]输入端口19</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="20">[20]输入端口20</a></li>

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="21">[21]后摄像机</a></li>

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="22">[22]思科输出1</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="23">[23]思科输出2</a></li>

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="24">[24]前摄像机</a></li>  

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="25">[25]敢为服务器4</a></li>

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="26">[26]输入端口26</a></li>

                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="27">[27]敢为服务器1</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="28">[28]敢为服务器2</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="29">[29]敢为服务器8</a></li>  
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="30">[30]敢为服务器7</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="31">[31]敢为服务器5</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="32">[32]敢为服务器6</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="33">[33]输入端口33</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="34">[34]敢为服务器3</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="35">[35]输入端口35</a></li>
                    <li><a href="#" draggable="true" class="leftButton"   dataLeft="36">[36]输入端口36</a></li>                             
                  </ul>

              </div>
              <div class="rightScreen">
                
                 <div class="video oneFrame"><a href="#" class="activeLeftContent" dataRight="13" >DIV1</a><span></span></div>

                 <div class="video displayNone">
                     <div class="videocenter twoFrame"><a href="#" class="activeLeftContent" dataRight="13">DIV1</a><span></span></div>
                 </div>

                 <div class="video displayNone zeroFrameParent">
                     <div class="videocenter zeroFrame" style="border-right: 0;"><a href="#" class="activeLeftContent" dataRight="13">DIV1</a><span></span></div>
                     <div class="videocenter zeroFrame"><a href="#" class="activeLeftContent" dataRight="14">DIV2</a><span></span></div>
                 </div>

                 <div class="video displayNone threeFrameParent">
                     <div class="videocenter threes threeFrame"><a href="#" class="activeLeftContent" dataRight="13">DIV1</a><span></span></div>
                     <div class="videocenter threes threeFrame" style="border-left: 0;border-right: 0;"><a href="#" class="activeLeftContent" dataRight="14">DIV2</a><span></span></div>
                     <div class="videocenter threes threeFrame"><a href="#" class="activeLeftContent" dataRight="15">DIV3</a><span></span></div>
                 </div>

                 <div class="video displayNone cloum">
                     <div class="videos fourFrameParent1"  style="border: 0;">
                        <div class="videocenter fours fourFrame" style="border-bottom: 0;border-right: 0;"><a href="#" class="activeLeftContent" dataRight="13">DIV1</a><span></span></div>
                        <div class="videocenter fours fourFrame" style="border-bottom: 0;"><a href="#" class="activeLeftContent" dataRight="14">DIV2</a><span></span></div>
                     </div>
                     <div class="videos fourFrameParent2" style="border: 0;">
                        <div class="videocenter fours fourFrame" style="border-right: 0;"><a href="#" class="activeLeftContent" dataRight="15">DIV3</a><span></span></div>
                        <div class="videocenter fours fourFrame" ><a href="#" class="activeLeftContent" dataRight="16">DIV4</a><span></span></div>
                     </div>
                 </div>

                 <div class="video displayNone" style="border: 0;">
                     <div class="videos1 cloumWith fiveFrameParent1" style="border: 0;">
                        <div class="videocenter five fiveFrame" style="border-bottom: 0;"><a href="#" class="activeLeftContent" dataRight="14">DIV2</a><span></span></div>
                        <div class="videocenter five fiveFrame" ><a href="#" class="activeLeftContent" dataRight="15">DIV3</a><span></span></div>
                     </div>
                     <div class="videos1 fiveFrame fiveFrameParent2" style="border-left: 0;border-right: 0;"><a href="#" class="activeLeftContent" dataRight="13">DIV1</a><span></span></div>
                     <div class="videos1 cloumWith fiveFrameParent3" style="border: 0;" >
                        <div class="videocenter five fiveFrame" style="border-bottom: 0;"><a href="#" class="activeLeftContent" dataRight="16">DIV4</a><span></span></div>
                        <div class="videocenter five fiveFrame" ><a href="#" class="activeLeftContent" dataRight="17">DIV5</a><span></span></div>
                     </div>
                 </div>

                 <ul class="clear">
                     <li index="0">
                        <a href="#" set_no="121" set_equip="5001"><img src="/Image/bigPing/ping1.png" /></a>
                        <a href="#" class="displayNone" disabled><img  src="/Image/bigPing/ping.png"/></a>
                        <p>1屏</p>
                     </li>
                     <li index="1">
                         <a href="#" set_no="122" set_equip="5001"><img src="/Image/bigPing/picen1.png" /></a>
                         <a href="#" class="displayNone" disabled><img src="/Image/bigPing/picen.png"/></a>
                         <p>1屏居中</p>
                     </li>
                     <li index="2">
                         <a href="#" set_no="123" set_equip="5001"><img src="/Image/bigPing/put1.png" /></a>
                         <a href="#" class="displayNone" disabled><img  src="/Image/bigPing/put.png"/></a>
                         <p>2屏</p>
                     </li>
                     <li index="3"> 
                         <a href="#" set_no="124" set_equip="5001"><img src="/Image/bigPing/three1.png" /></a>
                         <a href="#" class="displayNone" disabled><img  src="/Image/bigPing/three.png"/></a>
                         <p>3屏</p>    
                     </li>
                     <li index="4">
                         <a href="#" set_no="125" set_equip="5001"><img src="/Image/bigPing/fout1.png" /></a>
                         <a href="#" class="displayNone" disabled><img  src="/Image/bigPing/fout.png"/></a>
                         <p>4屏</p>
                     </li>
                     <li index="5">
                         <a href="#" set_no="126" set_equip="5001"><img src="/Image/bigPing/five1.png" /></a>
                         <a href="#" class="displayNone" disabled><img  src="/Image/bigPing/five.png"/></a>
                         <p>5屏</p>
                     </li>
                 </ul>
              </div>
           </div>
        </div>
    </div>
