

    <div data-page="bigScreenIndex" class="page mobileNotSelect" id="bigScreenIndex">
<div class="navbar">
    <div class="navbar-inner">
           <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
        <div class="center sliding title">大屏</div>
        <div class="right"> <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>        
        <div class="page-content tabs-animated-wrap">
            <ul class="row bigScreenIndexHeader">
                 <li class="col-50"><div id="bigScreenIndex1"><a href="view/scene/bigScreen.html" set_no="8" set_equip="10001" class="activeDisabled"><i class="iconfont icon-dpjz"></i><p>大屏矩阵</p></a></div></li>
                 <li class="col-50"><div id="bigScreenIndex2"><a href="view/scene/bigScreenScene.html" set_no="9" set_equip="10001" class="activeDisabled"><i class="iconfont icon-dgn"></i><p>多屏处理</p></a></div></li>
            </ul>  
        </div>
    </div>
