

    <div data-page="bigScreenScene" class="page mobileNotSelect" id="bigScreenScene">
<div class="navbar">
    <div class="navbar-inner">
           <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
        <div class="center sliding title">大屏</div>
        <div class="right"> <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>        
        <div class="page-content tabs-animated-wrap">
     
            <div class="mianDivScreen">
                <div class="headerDivScreen">
                    <div class="headerDivScreenIconIpad fleft align_center">
            			<i class="iconfont icon-changjingshezhi inline_block valign_center" style="font-size: 1.8rem;"></i>
            		</div>
            		<div class="headerDivScreenLabelIpad fleft">
            			<label class="inline_block valign_center">场景设定</label>
            		</div>
                </div>
                
                <div class="contentDivScreen">
                    <div class="contentDivScreenUlIpad fleft custom-scroll custom-scroll-2">
                        <ul>
                            <li><a href="javascript:void(0)" set_no="101" set_equip="5001" class="bigScreensceneActive">场景一</a></li>
                            <li><a href="javascript:void(0)" set_no="102" set_equip="5001" class="bigScreensceneActive">场景二</a></li>
                            <li><a href="javascript:void(0)" set_no="103" set_equip="5001" class="bigScreensceneActive">场景三</a></li>
                            <li><a href="javascript:void(0)" set_no="104" set_equip="5001" class="bigScreensceneActive">场景四</a></li>
                            <li><a href="javascript:void(0)" set_no="105" set_equip="5001" class="bigScreensceneActive">场景五</a></li>
                            <li><a href="javascript:void(0)" set_no="106" set_equip="5001" class="bigScreensceneActive">场景六</a></li>
                            <li><a href="javascript:void(0)" set_no="107" set_equip="5001" class="bigScreensceneActive">场景七</a></li>
                            <li><a href="javascript:void(0)" set_no="108" set_equip="5001" class="bigScreensceneActive">场景八</a></li>
                            <li><a href="javascript:void(0)" set_no="109" set_equip="5001" class="bigScreensceneActive">场景九</a></li>
                            <li><a href="javascript:void(0)" set_no="110" set_equip="5001" class="bigScreensceneActive">场景十</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
