
	<div data-page="lighting" class="page mobileNotSelect" id="lighting">
<div class="navbar">
	<div class="navbar-inner">
        <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
		<div class="center sliding title">灯光</div>
		<div class="right"> <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
	</div>
</div>		
		<div class="page-content tabs-animated-wrap">

		            <!-- 顶端图 -->
		        <div class="LightingTOP">
                    <div class="light4Colse light4"></div>
		            <div class="outberLighLine Close_outberLighLineSelect">
		                 <div class="innerberLine Close_innerberLineSelect">
		                     <div class="centerberLine Close_centerberLineSelect"></div>
		                 </div>
		            </div>
		            <div class="light5Colse light5"></div>
		        </div>
		        <!-- 底部按钮 -->
		        <div class="LightingButtom row">
		        <a href="#" class="col-20" data_Number="2" data-Index="2">
		            <img src="/Image/scene/light/btn_close.png" alt="" set_no="2" set_equip="3001" class="closeLightingImg"/>
		            <img src="/Image/scene/light/btn_open.png" alt=""  set_no="12" set_equip="3001" class="openLightingImg displayNone"/>
		            <p>灯池</p>
		        </a>
		        <a href="#" class="col-20" data_Number="3" data-Index="3">
		            <img src="/Image/scene/light/btn_close.png" alt="" set_no="3" set_equip="3001" class="closeLightingImg"/>
		            <img src="/Image/scene/light/btn_open.png" alt=""  set_no="13" set_equip="3001" class="openLightingImg displayNone"/>
		            <p>射灯</p>
		        </a>
		        <a href="#" class="col-20" data_Number="5" data-Index="5">
		            <img src="/Image/scene/light/btn_close.png" alt="" set_no="5" set_equip="3001" class="closeLightingImg"/>
		            <img src="/Image/scene/light/btn_open.png" alt="" set_no="15" set_equip="3001" class="openLightingImg displayNone"/>
		            <p>灯槽</p>
		        </a>
		        <a href="#" class="col-20" data_Number="1" data-Index="1">
		            <img src="/Image/scene/light/btn_close.png" alt="" set_no="1" set_equip="3001" class="closeLightingImg"/>
		            <img src="/Image/scene/light/btn_open.png" alt=""  set_no="11" set_equip="3001" class="openLightingImg displayNone"/>
		            <p>筒灯</p>
		        </a>
		        <a href="#" class="col-20" data_Number="4" data-Index="4">
		            <img src="/Image/scene/light/btn_close.png" alt="" set_no="4" set_equip="3001" class="closeLightingImg"/>
		            <img src="/Image/scene/light/btn_open.png" alt=""  set_no="14" set_equip="3001" class="openLightingImg displayNone"/>
		            <p>墙纸射灯</p>
		        </a>

		        </div>
                <div class="lightiingBtn">
                	<a href="#" class="allOpen" set_no="1" set_equip="10001"></a>
                	<br>
                	<a href="#" class="allClose" set_no="2" set_equip="10001"></a>
                </div>

        </div>
	</div>
