

    <div data-page="atownControl" class="page mobileNotSelect" id="atownControl">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"> <a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
                <div class="center sliding title">潼湖小镇</div>
                <div class="right"><a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
            </div>
        </div>        
        <div class="page-content">
            <div class="vedioContainer">

                <ul class="row headerExhibition townControlContent" style=" padding: 10% 15% 15% 15%;">
                <!-- 潼湖小镇-区域沙盘 -->
                     <li class="col-25">
                        <a set_no="52" set_equip="10001"><img src="/Image/outURL/out1Sp.png" /></a>
                        <a set_no="52" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/out1Sp1.png" /></a>
                     </li>
                     <!-- 潼湖小镇-展厅 -->
                     <li class="col-25">
                        <a set_no="53" set_equip="10001"><img src="/Image/outURL/out1Zt.png" /></a>
                        <a set_no="53" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/out1Zt1.png" /></a>
                     </li>
                    <!-- 潼湖小镇-拼接屏上方 -->
                     <li class="col-25">
                        <a set_no="54" set_equip="10001"><img src="/Image/outURL/out1Pj.png" /></a>
                        <a set_no="54" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/out1Pj1.png" /></a>
                     </li>
                     <!-- 潼湖小镇-门口球机 -->
                     <li class="col-25">
                        <a set_no="55" set_equip="10001"><img src="/Image/outURL/out1Mk.png" /></a>
                        <a set_no="55" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/out1Mk1.png" /></a>
                     </li>
                     <!-- 潼湖小镇-停车场 -->
                     <li class="col-25">
                        <a set_no="56" set_equip="10001"><img src="/Image/outURL/out1Tc.png" /></a>
                        <a set_no="56" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/out1Tc1.png" /></a>
                     </li>

                </ul>




                   <span class="tooipSpan displayNone viceSpan" style="top: 10px;">正在执行，请稍后...</span>
            </div>
        </div>
    </div>
