
    <div data-page="meetingArrange" class="page" id="meetingArrange">
      <div class="navbar">
    <div class="navbar-inner">
          <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
        <div class="center sliding title">会议安排</div>
        <div class="right">
            <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a>
        </div>
    </div>
</div>
        <div id="Video_content_ref" class="page-content" >
            <div class="list-block mettingArrangeList">
              <ul></ul>
            </div>
        </div>
    </div>
