
    <div data-page="meetingClassChild11" class="page mobileNotSelect" id="meetingClassChild11">
<div class="navbar">
    <div class="navbar-inner">
           <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
        <div class="center sliding title">内部会议</div>
        <div class="right"> <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>      
        <div class="page-content tabs-animated-wrap">
              <div class="viceContent">
 
                  <ul class="row headerBtnMetting skMeeting" style="    padding: 20% 25%;">
                     <li class="col-40"><div id="meetingClassChild1End"><a href="#" set_no="28" set_equip="10001"><i class="iconfont icon-nbhy"></i><p>思科会议</p></a></div></li>
                     <li class="col-40"><div id="meetingClassChild2End"><a href="#" set_no="29" set_equip="10001"><i class="iconfont icon-jdhy"></i><p>思科+PPT会议</p></a></div></li>
                 </ul>

               <span class="tooipSpan displayNone viceSpan">正在执行，请稍后...</span>
             </div>
        </div>
    </div>
