
    <div data-page="meetingClassChild22" class="page mobileNotSelect" id="meetingClassChild22">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
        <div class="center sliding title">语音控制</div>
        <div class="right"></div>
    </div>
</div>        
        <div class="page-content tabs-animated-wrap">

                <ul class="row headerBtnMetting headerModulMetting" style="padding: 20% 10%;">
                     <li class="col-20"><div id=""><a href="Voice1.html" ><i class="iconfont icon-bgy21"></i><p>集团数据</p></a></div></li>
                     <li class="col-20"><div id=""><a href="view/vedioControl.html" ><i class="iconfont icon-bgy09"></i><p>总部三维全景</p></a></div></li>
                     <li class="col-20"><div id=""><a href="view/mettingPPT.html" set_no="9" set_equip="10001" class="setPPT22"><i class="iconfont icon-bgy32"></i><p>PPT</p></a></div></li>
                     <li class="col-20"><div id=""><a href="groupPhoto1.html" ><i class="iconfont icon-bgy22"></i><p>留念合影</p></a></div></li>
                     <li class="col-20"><div id=""><a href="view/welcomeWords.html" set_no="8" set_equip="10001" class="setWelcome22"><i class="iconfont icon-bgy24"></i><p>欢迎词</p></a></div></li>
                </ul>

        </div>
    </div>
