

    <div data-page="mettingPPT" class="page" id="mettingPPT">
      <div class="navbar">
    <div class="navbar-inner">
         <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">PPT</div>
        <div class="right"> <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>
        <div class="page-content tabs-animated-wrap mettingPPTContent">

            <div class="pptActive">
               <h3 class="listTitle" style="color:#f1c20a;font-size: 1.4rem;">最后打开文件</h3>
                
            </div>
            <div  id="Filelist">
               <h3 class="listTitle">文件列表
                 <label><span class="selectUD" dataSet="1"><i class="iconfont icon-selectUD"></i>D:\PPT</span>
                 <span dataSet="2"><i class="iconfont icon-selectUD"></i>U盘或移动硬盘</span></label>
                <em class="iconfont icon-refresh"></em>
               </h3>

               <ul>
              </ul>

            </div>


            <span style="width:42px; height:42px" class="displayNone preloader preloader-white"></span>


        </div>
    </div>
