

    <div data-page="tableCard" class="page mobileNotSelect" id="tableCard">
        <div class="navbar">
    <div class="navbar-inner">
         <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
        <div class="center sliding title">电子座牌</div>
        <div class="right"> <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>
        <div class="page-content tabs-animated-wrap">

            <div id="tableCardInfo" class="card">
            <div class="list-block ">
            <ul>
            <li>
            <div class="item-content">
            <div class="item-inner">
            <div class="item-title label">职位</div>
            <div class="item-input">
            <input type="text" placeholder="请输入该人员职位">
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="item-content">
            <div class="item-inner bottomHeight">
            <div class="item-title label">姓名</div>
            <div class="item-input">
            <input type="email" placeholder="请输入该人员姓名">
            </div>
            </div>
            </div>
            </li>
            </ul>
            </div>
            <div class="tableCard_button row"><a href="#" class="col-30">取消</a><a href="#" class="col-30">确认</a></div>
            </div>
            
            <div class="row tcList">
            <div class="col-20 tableCard_pm">
               <div ><em>屏</em><i>幕</i></div>
            </div>
            <ul class="tableCard col-80">
                <li class="tableCardTop row">
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                </li>  
                <li class="tableCardCenter">
                    <div class="centerTablecard row">
                        <a href="#" class="iconfont icon-bgy01 carda col-10"></a>
                        <a href="#" class="iconfont icon-bgy01 carda col-10"></a>
                    </div>
                </li>
                 <li class="tableCardBottom row">
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                    <div class="col-10"><a href="#" class="iconfont icon-bgy01 carda"></a></div>
                </li>  
            </ul>
           </div>

        </div>
    </div>
