
    <div data-page="vedioControlchild" class="page mobileNotSelect" id="vedioControlchild">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"> <a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">鹰眼球机</div>
        <div class="right"><a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>        
        <div class="page-content">
            <div class="vedioContainer cole">

               <ul class="row vedioControlchildExhibition" >
                    <li class="col-25">
                        <a set_no="61" set_equip="2001"><img src="/Image/outURL/wz1.png"></a>
                        <a set_no="61" set_equip="2001" class="displayNone ExhibitionSetColor" ><img src="/Image/outURL/wz11.png"></a>
                        <p>预留位置</p>
                    </li>
                    <li class="col-25">
                        <a set_no="62" set_equip="2001"><img src="/Image/outURL/wz2.png"></a>
                        <a set_no="62" set_equip="2001" class="displayNone ExhibitionSetColor" ><img src="/Image/outURL/wz22.png"></a>
                        <p>预留位置</p>
                    </li>
                    <li class="col-25">
                        <a set_no="63" set_equip="2001"><img src="/Image/outURL/wz3.png"></a>
                        <a set_no="63" set_equip="2001" class="displayNone ExhibitionSetColor" ><img src="/Image/outURL/wz33.png"></a>
                        <p>预留位置</p>
                    </li>
                    <li class="col-25">
                        <a set_no="64" set_equip="2001"><img src="/Image/outURL/wz4.png"></a>
                        <a set_no="64" set_equip="2001" class="displayNone ExhibitionSetColor" ><img src="/Image/outURL/wz44.png"></a>
                        <p>预留位置</p>
                    </li>
                </ul>



                   <span class="tooipSpan displayNone viceSpan">正在执行，请稍后...</span>
            </div>
        </div>
    </div>
