
    <div data-page="vedioControl" class="page mobileNotSelect" id="vedioControl">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"> <a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">集团总部</div>
        <div class="right"><a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>        
        <div class="page-content">
            <div class="vedioContainer">
                <ul class="row headerExhibition vedioControlContent" style=" padding: 3% 10% 17% 10%;">
                <!-- 所有视频 -->
                     <li class="col-25">
                        <a set_no="18" set_equip="10001"><img src="/Image/home1URL/home1Allvedio.png" /></a>
                        <a set_no="18" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Allvedio1.png" /></a>
                     </li>
<!-- 历史博物馆 -->
                     <li class="col-25">
                        <a set_no="20" set_equip="10001"><img src="/Image/home1URL/home1Bwg.png" /></a>
                        <a set_no="20" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Bwg1.png" /></a>
                     </li>
<!-- 大楼路口 -->
                     <li class="col-25">
                        <a set_no="21" set_equip="10001"><img src="/Image/home1URL/home1Lk.png" /></a>
                        <a set_no="21" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Lk1.png" /></a>
                     </li>
<!-- 主席 -->
    <!--                  <li class="col-25">
                        <a set_no="22" set_equip="10001"><img src="/Image/home1URL/home1Zx.png" /></a>
                        <a set_no="22" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Zx1.png" /></a>
                     </li> -->
<!-- 鹰眼球机 -->
                     <li class="col-25 allVedio">
                        <a href="/vedioAllrefresh/" set_no="23" set_equip="10001"><img src="/Image/home1URL/home1Qj.png" /></a>
                     </li>
<!-- 鹰眼全景 -->
                     <li class="col-25">
                        <a set_no="24" set_equip="10001"><img src="/Image/home1URL/home1Yy.png" /></a>
                        <a set_no="24" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Yy1.png" /></a>
                     </li>
<!-- 图书馆 -->
                     <li class="col-25">
                        <a set_no="25" set_equip="10001"><img src="/Image/home1URL/home1Tsg.png" /></a>
                        <a set_no="25" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Tsg1.png" /></a>
                     </li>
<!-- 会议室前摄像头 -->
                     <li class="col-25">
                        <a set_no="26" set_equip="10001"><img src="/Image/home1URL/home1Qsxt.png" /></a>
                        <a set_no="26" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Qsxt1.png" /></a>
                     </li>
<!-- 会议室后摄像头 -->
                     <li class="col-25">
                        <a set_no="27" set_equip="10001"><img src="/Image/home1URL/home1Hsxt.png" /></a>
                        <a set_no="27" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/home1URL/home1Hsxt1.png" /></a>
                     </li>

                </ul>




                   <span class="tooipSpan displayNone viceSpan" style="top: 10px;">正在执行，请稍后...</span>
            </div>
        </div>
    </div>
