
    <div data-page="viceHandleIpad" class="page mobileNotSelect" id="viceHandleIpad">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"> <a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">音量控制</div>
        <div class="right"><a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>        
        <div class="page-content tabs-animated-wrap">
        	<div class="viceContent">

                 <ul class="volumeContainer">
                    <li class="row volumeSetting">
                    	<div class="col-20"><h4><img src="/Image/phone/volume1.png">音响</h4></div>
                    	<div class="col-40">
                             <a href="#" class="volumebtn1"  set_no="3" set_equip="7001"></a> 
                             <a href="#" class="volumebtn2"  set_no="4" set_equip="7001" ></a>
                    	 </div>
                    	<div class="col-40">  
                             <a href="#" class="volumebtn3" set_no="2" set_equip="7001"></a>
                             <a href="#" class="volumebtn4" set_no="1" set_equip="7001" ></a>
                    	 </div>
                    </li>

                    <li class="row volumeSetting">
                    	<div class="col-20"><h4><img src="/Image/phone/volume2.png">话筒</h4></div>
                    	<div class="col-40">
                             <a href="#" class="volumebtn1" set_no="13" set_equip="7001"></a>
                             <a href="#" class="volumebtn2" set_no="14" set_equip="7001" ></a>
                    	 </div>
                    	<div class="col-40">  
                             <a href="#" class="volumebtn3" set_no="12" set_equip="7001"></a>
                             <a href="#" class="volumebtn4" set_no="11" set_equip="7001" ></a>
                    	 </div>
                    </li>

                    <li class="row volumeSetting">
                    	<div class="col-20"><h4><img src="/Image/phone/volume3.png">桌插</h4></div>
                    	<div class="col-40">
                             <a href="#" class="volumebtn1" set_no="23" set_equip="7001"></a>
                             <a href="#" class="volumebtn2" set_no="24" set_equip="7001" ></a>
                    	 </div>
                    	<div class="col-40">  
                             <a href="#" class="volumebtn3" set_no="22" set_equip="7001"></a>
                             <a href="#" class="volumebtn4" set_no="21" set_equip="7001" ></a>
                    	 </div>
                    </li>
                 </ul>
                 <span class="tooipSpan displayNone viceSpan">正在执行，请稍后...</span>
             </div>
        </div>
    </div>
