

    <div data-page="zc" class="page mobileNotSelect" id="zc">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"> <a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">领导驾驶舱</div>
        <div class="right"><a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>        
        <div class="page-content tabs-animated-wrap">
            <div class="cole zccole">
                <ul class="row homeExhibition" >
                <!-- 人才实力 -->
                    <li class="col-25">
                        <a set_no="4" set_equip="10001"><img src="/Image/outURL/out1Rc.png"></a>
                        <a set_no="4" set_equip="10001" class="displayNone ExhibitionSetColor" ><img src="/Image/outURL/out1Rc1.png"></a>
                        <p>人才实力</p>
                    </li>
                    <!-- 社会贡献 -->
                    <li class="col-25">
                        <a set_no="5" set_equip="10001"><img src="/Image/outURL/out1Sh.png"></a>
                        <a set_no="5" set_equip="10001" class="displayNone ExhibitionSetColor" ><img src="/Image/outURL/out1Sh1.png"></a>
                        <p>社会贡献</p>
                    </li>
                    <!-- 集团项目 -->
                    <li class="col-25">
                        <a set_no="6" set_equip="10001" class="zcProject" href="/nProject/"><img src="/Image/outURL/out1Jt.png"></a>
                        <p>集团项目</p>
                    </li>
                    <!-- 经营发展 -->
                    <li class="col-25">
                        <a set_no="7" set_equip="10001"><img src="/Image/outURL/out1Jy.png"></a>
                        <a set_no="7" set_equip="10001" class="displayNone ExhibitionSetColor" ><img src="/Image/outURL/out1Jy1.png"></a>
                        <p>经营发展</p>
                    </li>
                </ul>
            </div>

            <span class="tooipSpan displayNone viceSpan" style="top: 100px;">正在执行，请稍后...</span>
        </div>
    </div>
