

<div data-page="foreignExhibition" class="page mobileNotSelect" id="foreignExhibition">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">   <a href="#" class="iconfont icon-indexExit" onclick="onUserLogout()" id="exitOut" style="color: #ccc;">注销</a></div>
            <div class="center sliding title">对外展示</div>
            <div class="right"> <a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
        </div>
    </div>
    <div class="page-content">
        <div class="foreignExhibitionContainer">
            <ul class="row headerExhibition" style=" padding: 10% 5% 20% 5%;">
                  <!-- 集团宣传片 -->
                <li class="col-25 colie">
                    <a set_no="41" set_equip="10001" href="/trailer/"><img src="/Image/outURL/outXc.png" /></a>
                </li>
                 <!-- 潼湖 -->
                <li class="col-25">
                  <a set_no="66" set_equip="10001" href="#"><img src="/Image/outURL/outTown.png" /></a>
                  <a set_no="66" set_equip="10001" href="#" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/outTown.png" /></a>
                </li>  
                 <!-- 森林城市 -->
                <li class="col-25 displayNone">
                  <a set_no="71" set_equip="10001" href="#"><img src="/Image/outURL/outSl.png" /></a>
                  <a set_no="71" set_equip="10001" href="#" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/outSl.png" /></a>
                </li>                                            
                <!-- BIM+总部 //outBIM-->
                <li class="col-25">
                    <a set_no="22" set_equip="10001"><img src="/Image/outURL/outBIM.png" /></a>
                    <a set_no="22" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/outBIM1.png" /></a>
                </li>
                <!-- 总裁驾驶舱 -->
                <li class="col-25 colie" >
                <a href="/zc/" set_no="44" set_equip="10001"><img src="/Image/outURL/outZc.png" /></a>
                </li>
            </ul>
            <div class="ExhibitionBtn row">
                <div class="col-50">
                    <a set_no="32" set_equip="10001" class="ExhibitionBtn_a"><img src="/Image/viewPage/btn_open.png" /></a>
                    <a set_no="32" set_equip="10001" class="displayNone ExhibitionBtn_a" disabled><img src="/Image/viewPage/btn_open.png" /></a>
                    <p>全开</p>
                </div>
                <div class="col-50">
                    <a set_no="33" set_equip="10001" class="ExhibitionBtn_a"><img src="/Image/viewPage/btn_close.png" /></a>
                    <a set_no="33" set_equip="10001" class="displayNone ExhibitionBtn_a" disabled><img src="/Image/viewPage/btn_close.png" /></a>
                    <p>全关</p>
                </div>
           </div>
           <span class="tooipSpan displayNone viceSpan" style="top: 10px;">正在执行，请稍后...</span>
         </div>
    </div>
</div>
