

<div data-page="signalControl" class="page mobileNotSelect" id="signalControl">
    <div class="navbar">
    <div class="navbar-inner">
        <div class="left">  <a href="#" class="iconfont icon-indexExit" onclick="onUserLogout()" id="exitOut" style="color: #ccc;">注销</a></div>
        <div class="center sliding title">单控设备</div>
        <div class="right"> <a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>
    <div class="page-content">
        <div class="foreignExhibitionContainer">

            <ul class="row signalControlExhibition" style=" padding: 5% 5% 20% 5%;">
<!-- 灯光 -->
                 <li class="col-20 playHomesy">
                    <a href="/lighting/"><img src="/Image/homeURL/homeLight.png" /></a>
                 </li>
<!-- 大屏 -->
                 <li class="col-20 playHomesy">
                    <a href="/bigScreen/"><img src="/Image/homeURL/homeScreen.png" /></a>
                 </li>                    
<!-- 音量控制 -->
                 <li class="col-20 playHomesy">
                    <a href="/viceHandle/"><img src="/Image/homeURL/homeVoice.png" /></a>
                 </li>
<!-- 体感控制 -->
                 <li class="col-20 playHomesy">
                    <a href="/feelControl/"><img src="/Image/homeURL/homeTg.png" /></a>
                 </li>
<!-- 欢迎词编辑 -->
                 <li class="col-20 playHomesy">
                    <a href="/welcomeWords/"><img src="/Image/homeURL/homeWel.png" /></a>
                 </li>  
<!-- 思科视频会议 -->
                 <li class="col-20 playHomesy">
                    <a href="/meetingVideo/" class="disabled_active"><img src="/Image/homeURL/homeSk.png" /></a>
                 </li>   
<!-- PPT文件 -->
                 <li class="col-20 playHomesy">
                    <a href="/mettingPPT/"><img src="/Image/homeURL/homePPT.png" /></a>
                 </li> 
<!-- 备份文件 -->
                 <li class="col-20 playHomesy">
                    <a href="/backupfile/"><img src="/Image/homeURL/homeSave.png" /></a>
                 </li>                                                                                        
<!-- 天气预报 -->
                 <li class="col-20 BimActive">
                    <a href="#" set_no="50" set_equip="10001"><img src="/Image/homeURL/homeTq.png" /></a>
                    <a href="#" class="displayNone ExhibitionSetColor"><img src="/Image/homeURL/homeTq1.png" /></a>
                 </li>                    
            
<!-- 照片墙 -->
                 <li class="col-20 playHomesy">
                    <a href="/groupPhoto/" class="disabled_active"><img src="/Image/homeURL/homePhoto.png" /></a>
                 </li>
<!-- 总裁驾驶舱-外 -->
                 <li class="col-20 playHomesy">
                    <a href="/zc/"><img src="/Image/homeURL/homeZc.png" /></a>
                 </li>
<!-- 多媒体文件 -->
                 <li class="col-20 playHomesy">
                    <a href="/trailer/" set_no="34" set_equip="10001"><img src="/Image/homeURL/homeDmt.png" /></a>
                <!--     <a href="#" class="displayNone ExhibitionSetColor"><img src="/Image/homeURL/homeDmt1.png" /></a> -->
                 </li>                       
<!-- 实景监控 -->
                 <li class="col-20 playHomesy">
                    <a href="/sjControl/" ><img src="/Image/homeURL/homeSj.png" /></a><!--需要重做这个页面-->
                 </li>                                                          
<!-- 集团BIM -->
                 <li class="col-20 BimActive">
                    <a href="#" set_no="51" set_equip="10001"><img src="/Image/homeURL/homeBIM.png" /></a>
                    <a href="#" class="displayNone ExhibitionSetColor" set_no="51" set_equip="10001"><img src="/Image/homeURL/homeBIM1.png" /></a>
                 </li>
<!-- 总裁驾驶舱-内 -->
                 <li class="col-20 playHomesy">
                    <a href="#"><img src="/Image/homeURL/homeZm.png" /></a>
                 </li> 

                                                                                                                         
                 <span class="tooipSpan displayNone viceSpan" style="top: 10px;">正在执行，请稍后...</span>
            </ul>

            <div class="ExhibitionBtn row" style="bottom: 5%;">
                <div class="col-50">
                    <a class="ExhibitionBtn_a" set_no="32" set_equip="10001"><img src="/Image/viewPage/btn_open.png" /></a>
                    <a class="displayNone ExhibitionBtn_a" set_no="32" set_equip="10001"><img src="/Image/viewPage/btn_open.png" /></a>
                    <p>全开</p>
                </div>
                <div class="col-50">
                    <a class="ExhibitionBtn_a" set_no="33" set_equip="10001"><img src="/Image/viewPage/btn_close.png" /></a>
                    <a class="displayNone ExhibitionBtn_a" set_no="33" set_equip="10001"><img src="/Image/viewPage/btn_close.png" /></a>
                    <p>全关</p>
                </div>
               
        </div>
    </div>
</div>
