
    <div data-page="sjControl" class="page mobileNotSelect" id="sjControl">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"> <a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">实景监控</div>
        <div class="right"><a href="#" onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a></div>
    </div>
</div>        
        <div class="page-content tabs-animated-wrap">
            <div class="cole nProjectContent">
                <ul class="row homeExhibition sjControlSet" >
                     <!-- 集团总部 -->
                    <li class="col-33 colie">
                        <a set_no="46" set_equip="10001" href="/vedioControl/"><img src="/Image/outURL/outSj.png" /></a>
                    </li>
                    <!-- 潼湖小镇 -->
                    <li class="col-33 colie">
                        <a set_no="53" set_equip="10001" href="/atownControl/"><img src="/Image/outURL/outTown.png" /></a>
                    </li>
                    <!-- 森林城市 -->
                    <li class="col-33 sjThreeli" style="opacity: 0;">
                        <a set_no="72" set_equip="10001"><img src="/Image/outURL/outSl.png" /></a>
                        <a set_no="72" set_equip="10001" class="displayNone ExhibitionSetColor" disabled><img src="/Image/outURL/outSl1.png" /></a>
                    </li>
                </ul>
            </div>

            <span class="tooipSpan displayNone viceSpan" style="top: 100px;">正在执行，请稍后...</span>
        </div>
    </div>
