<div class="page controlCame" data-page="controlCame" id="controlCame">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- 标题 -->
            <div class="left">
                <a class="iconfont icon-indexExit" href="#" id="exitOut" onclick="onUserLogout()" style="color: #ccc;">
                    注销
                </a>
            </div>
            <div class="center sliding title">
                全景摄像头
            </div>
            <div class="right">
                <a href="#" onclick="Ipadvoice()">
                    <img alt="back" src="/Image/phone/voiceIpad.png" style="width: auto;height: 30px;margin-top: 7px;"/>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="RecordContainer row"  style="padding: 0;">
            <section class="leftEquipMenu col-25" >
                <header><i class="iconfont icon-equip"></i>球机设备</header>
                <dl class="cameMenuList">
                    <dt style="display: none;"></dt>
                    <dd style="display: block;">
                        <a href="#" class="selectedYellow" index="1"><i class="iconfont icon-came"></i>1号球机</a>
                        <a href="#" index="2"><i class="iconfont icon-came"></i>2号球机</a>
                        <a href="#" index="3"><i class="iconfont icon-came"></i>3号球机</a>                                              
                    </dd>
                </dl>
            </section>
            <div class="contentCList  col-75">
                <div class="ControlMain" id="towNavList1">
                        <div class="ControlMainTop row">
                            <div class="ControlMainTopLeftBox col-50 row">
                                <a class="controlPositionBtn1 col-33" draggable="false" href="#" id="fangxiangDare_1" >
                                    <p>
                                        预置位1
                                    </p>
                                </a>
                                <a class="controlPositionBtn2 col-33" draggable="false" href="#" id="fangxiangDare_2"  style="left: 33%;">
                                    <p>
                                        预置位2
                                    </p>
                                </a>
                                <a class="controlPositionBtn3 col-33" draggable="false" href="#" id="fangxiangDare_3" style="left: 56%;">
                                    <p>
                                        预置位3
                                    </p>
                                </a>
<!--                                 <a class="controlPositionBtn4" draggable="false" href="#" id="fangxiangDare_4" set_equip="1009" set_no="96" style="left: 79%;">
                                    <p>
                                        预置位4
                                    </p>
                                </a> -->
                            </div>
                            <div class="ControlMainTopRightBox  col-50">
                                <a class="controlDirectionLeftBtn" draggable="false" href="#" id="fangxiangDare_5">
                                </a>
                                <a class="controlDirectionTopBtn" draggable="false" href="#" id="fangxiangDare_6">
                                </a>
                                <a class="controlDirectionRightBtn" draggable="false" href="#" id="fangxiangDare_7">
                                </a>
                                <a class="controlDirectionBottomBtn" draggable="false" href="#" id="fangxiangDare_8">
                                    <p>
                                        云台控制
                                    </p>
                                </a>
                                <a class="controlDirectionStopBtn" draggable="false" href="#" id="fangxiangDare_9" set_equip="1" set_no="132">
                                </a>
                            </div>
                        </div>
                        <div class="ControlMainFooter">
                            <div class="controlIconBtnBox">
                                <a class="controlIconBtn1" draggable="false" href="#" id="fangxiangDare_10">
                                    <p>
                                        倍速增加
                                    </p>
                                </a>
                            </div>
                            <div class="controlIconBtnBox">
                                <a class="controlIconBtn2" draggable="false" href="#" id="fangxiangDare_11">
                                    <p>
                                        焦点拉近
                                    </p>
                                </a>
                            </div>
                            <div class="controlIconBtnBox">
                                <a class="controlIconBtn3" draggable="false" href="#" id="fangxiangDare_12">
                                    <p>
                                        光圈打开
                                    </p>
                                </a>
                            </div>
                            <div class="controlIconBtnBox">
                                <a class="controlIconBtn4" draggable="false" href="#" id="fangxiangDare_13">
                                    <p>
                                        倍速减少
                                    </p>
                                </a>
                            </div>
                            <div class="controlIconBtnBox">
                                <a class="controlIconBtn5" draggable="false" href="#" id="fangxiangDare_14">
                                    <p>
                                        焦点拉远
                                    </p>
                                </a>
                            </div>
                            <div class="controlIconBtnBox">
                                <a class="controlIconBtn6" draggable="false" href="#" id="fangxiangDare_15">
                                    <p>
                                        光圈关闭
                                    </p>
                                </a>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>
