
    <div data-page="groupPhoto" class="page" id="groupPhoto">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">留念合影</div>
        <div class="right">
             <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a>
        </div>
    </div>
</div>        
        <div id="Video_content_ref" class="page-content">
              
            <div class="photoCentent">
             <div class="photoTop">
               <img src="" class="displayNone">
               <a href="#" class="col-33 activeBackground" set_no="7" set_equip="4001" set_id="7" id="selectClose">关闭</a>
             </div>

             <div class="">
                    <div class="photoCenter">
                    </div>
            </div>
      
             <span class="tooipSpan displayNone">正在执行，请稍后...</span>
           </div>

        </div>
    </div>
