
<div data-page="meetingG" class="page" id="meetingG">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="iconfont icon-indexExit" onclick="onUserLogout()" id="exitOut" style="color: #ccc;">注销</a></div>
        <div class="center sliding title">会议管理</div>
        <div class="right">
           <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a>
        </div>
    </div>
</div>    
        <div id="Video_content_ref" class="page-content">

            <!-- *********************************开始******************************************* -->
            <div class="containerMetting">

             <ul class="row headerBtnMetting " style="padding: 30% 10%;">
                 <li class="col-40"><div id="meetingG1"><a href="view/meetingClassChild1.html" ><i class="iconfont icon-nbhy"></i><p>内部会议</p></a></div></li>
                 <li class="col-40"><div id="meetingG2"><a href="view/meetingClassChild2.html" ><i class="iconfont icon-jdhy"></i><p>接待会议</p></a></div></li>
             </ul>

               
            </div>
            
            <!-- **************************************结束*********************************************** -->

        </div>
    </div>
