
    <div data-page="meetingVideo" class="page" id="meetingVideo">
<div class="navbar">
    <div class="navbar-inner">
          <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i>返回</a></div>
        <div class="center sliding title">视频会议</div>
        <div class="right">
            <a href="#"  onclick="Ipadvoice()"><img src="/Image/phone/voiceIpad.png" alt="back" style="width: auto;height: 30px;margin-top: 7px;"></a>
        </div>
    </div>
</div>        
        <div id="Video_content_ref" class="page-content">
            
          <div class="videoCenter">
              <div><input type="text" placeholder="输入连接号" value="" id="dial_input" /><a href="#" class="iconfont icon-usersName panel-open" ></a>
                   <span style="position: absolute;left: 0;bottom: -30px;color: cadetblue;">注: 图标为联系人列表</span>
              </div>

              <div class="meetingVideoContainer">
                 <div  class="row meetingVideoContaineris">
                    <div class="col-16 meetingBtn1">
                         <a href="#" class="screen2" set_no="1" set_equip="1001"></a>
                         <a href="#" class="screen2 displayNone" set_no="1" set_equip="1001" disabled></a>
                         <p>接通</p>
                    </div>
                    <div class="colo-14 meetingBtn2">
                         <a href="#" class="screen2" set_no="3" set_equip="1001"></a>
                         <a href="#" class="screen2 displayNone" set_no="3" set_equip="1001" disabled></a>
                         <p>挂断</p>
                    </div>

                    <div class="colo-14 meetingBtn3">
                         <a href="#" class="screen2" set_no="35" set_equip="10001"></a>
                         <a href="#" class="screen2 displayNone" set_no="35" set_equip="10001" disabled></a>
                         <p>分屏</p>
                    </div>
                    <div class="colo-14 meetingBtn4">
                         <a href="#" class="screen2" set_no="81" set_equip="10001"></a>
                         <a href="#" class="screen2 displayNone" set_no="81" set_equip="10001" disabled></a>
                         <p>居中</p>
                    </div>
                    <div class="colo-14 meetingBtn7">
                         <a href="#" class="screen2" set_no="65" set_equip=" 10001"></a>
                         <a href="#" class="screen2 displayNone" set_no="65" set_equip=" 10001" disabled></a>
                         <p>五分屏</p>
                    </div>
                    <div class="colo-14 meetingBtn8">
                         <a href="/mettingPPT/" class="screen2"></a>
                         <p>PPT</p>
                    </div>

                 </div>
              </div>
             <span class="tooipSpan displayNone viceSpan">正在执行，请稍后...</span>
     
        </div>

        </div>
    </div>
