
    <div data-page="Voice" class="page mobileNotSelect" id="Voice">
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="iconfont icon-indexExit" onclick="onUserLogout()" id="exitOut" style="color: #ccc;">注销</a></div>
        <div class="center sliding title">语音控制</div>
        <div class="right"></div>
    </div>
</div>        
        <div class="page-content tabs-animated-wrap">
            <div class="viceContent">
                <ul class="row headerBtnMetting headerModulMetting">
                     <li class="col-25"><div id="meetingG3"><a href="#" set_no="4" set_equip="10001"><i class="iconfont icon-rcsl"></i><p>人才实力</p></a></div></li>
                     <li class="col-25"><div id="meetingG4"><a href="#" set_no="5" set_equip="10001"><i class="iconfont icon-shgx"></i><p>社会贡献</p></a></div></li>
                     <li class="col-25"><div id="meetingG5"><a href="#" set_no="6" set_equip="10001"><i class="iconfont icon-jtxm"></i><p>集团项目</p></a></div></li>
                     <li class="col-25"><div id="meetingG6"><a href="#" set_no="7" set_equip="10001"><i class="iconfont icon-jyfz"></i><p>经营发展</p></a></div></li>
                </ul>
                 <span class="tooipSpan displayNone viceSpan">正在执行，请稍后...</span>
             </div>
        </div>
    </div>
