@charset "utf-8";
/* 标签默认样式设置 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
body {
	/*font-size: 14px;*/
	/*color: #333;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;/*字体图标抗锯齿*/
}
i,em {
	font-style: normal;
}
ul,ol {
	list-style: none;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dt,th {
	font-weight: normal;
}
input,img,button {
	border: none;
	outline: none;
}
textarea {
	resize: none;
	overflow: auto;
	outline: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

 @font-face {
    font-family: 'PingFang Bold';
    src: url('/Image/scene/PingFang Bold.ttf');
}

 @font-face {
    font-family: 'PingFang ExtraLight';
    src: url('/Image/scene/PingFang ExtraLight.ttf');
}

 @font-face {
    font-family: 'PingFang Heavy';
    src: url('/Image/scene/PingFang Heavy.ttf');
}

 @font-face {
    font-family: 'PingFang Light';
    src: url('/Image/scene/PingFang Light.ttf');
}

 @font-face {
    font-family: 'PingFang Medium';
    src: url('/Image/scene/PingFang Medium.ttf');
}

 @font-face {
    font-family: 'PingFang Regular';
    src: url('/Image/scene/PingFang Regular.ttf');
}

/* 行块转换、清除浮动 */
.inline_block {
	display: inline-block;
}
.block{
	display: block;
}
.over-hidden{
	overflow: hidden;
}
.clear-both{
	clear: both;
}
.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* 文字内容居中效果 */
.align_left {
	text-align: left !important;
}
.align_center {
	text-align: center !important;
}
.align_right {
	text-align: right !important;
}
.valign_center{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.valign_80{
	position: relative;
	top: 80%;
	-webkit-transform: translateY(-80%);
	-moz-transform: translateY(-80%);
	-ms-transform: translateY(-80%);
	-o-transform: translateY(-80%);
	transform: translateY(-80%);
}
.valign_70{
	position: relative;
	top: 70%;
	-webkit-transform: translateY(-70%);
	-moz-transform: translateY(-70%);
	-ms-transform: translateY(-70%);
	-o-transform: translateY(-70%);
	transform: translateY(-70%);
}
.valign_60{
	position: relative;
	top: 60%;
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	transform: translateY(-60%);
}
.valign_55{
	position: relative;
	top: 55%;
	-webkit-transform: translateY(-55%);
	-moz-transform: translateY(-55%);
	-ms-transform: translateY(-55%);
	-o-transform: translateY(-55%);
	transform: translateY(-55%);
}
.valign_45{
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-45%);
	-moz-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	-o-transform: translateY(-45%);
	transform: translateY(-45%);
}
.valign_35{
	position: relative;
	top: 35%;
	-webkit-transform: translateY(-35%);
	-moz-transform: translateY(-35%);
	-ms-transform: translateY(-35%);
	-o-transform: translateY(-35%);
	transform: translateY(-35%);
}
.valign_30{
	position: relative;
	top: 30%;
	-webkit-transform: translateY(-30%);
	-moz-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	-o-transform: translateY(-30%);
	transform: translateY(-30%);
}
.valign_25{
	position: relative;
	top: 25%;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	-o-transform: translateY(-25%);
	transform: translateY(-25%);
}

/* 浮动效果 */
.fleft {
	float: left;
}
.fright {
	float: right;
}

/* 水平居中 */
.margin_auto{
	margin:0 auto;
}

/* 左外边距 */
.mleft_3 {
	margin-left: 3px;
}
.mleft_5 {
	margin-left: 5px;
}
.mleft_8 {
	margin-left: 8px;
}
.mleft_10 {
	margin-left: 10px;
}
.mleft_13 {
	margin-left: 13px;
}
.mleft_15 {
	margin-left: 15px;
}
.mleft_18 {
	margin-left: 18px;
}
.mleft_20 {
	margin-left: 20px;
}
.mleft_25 {
	margin-left: 25px;
}
.mleftPer25{
	margin-left: 25%;
}

/* 上外边距 */
.mtop_3 {
	margin-top: 3px;
}
.mtop_5 {
	margin-top: 5px;
}
.mtop_8 {
	margin-top: 8px;
}
.mtop_10 {
	margin-top: 10px;
}
.mtop_13 {
	margin-top: 13px;
}
.mtop_15 {
	margin-top: 15px;
}
.mtop_18 {
	margin-top: 18px;
}
.mtop_20 {
	margin-top: 20px;
}
.mtop_25 {
	margin-top: 25px;
}
.mtop_47{
	margin-top: 47px;
}
.mtop_60{
	margin-top: 60px;
}
.mtopPer25{
	margin-top: 25%;
}

/* 右外边距 */
.mright_3 {
	margin-right: 3px;
}
.mright_5 {
	margin-right: 5px;
}
.mright_8 {
	margin-right: 8px;
}
.mright_10 {
	margin-right: 10px;
}
.mright_13 {
	margin-right: 13px;
}
.mright_15 {
	margin-right: 15px;
}
.mright_18 {
	margin-right: 18px;
}
.mright_20 {
	margin-right: 20px;
}
.mright_25 {
	margin-right: 25px;
}
.mrightPer25{
	margin-right: 25%;
}

/* 下外边距 */
.mbottom_3 {
	margin-bottom: 3px;
}
.mbottom_5 {
	margin-bottom: 5px;
}
.mbottom_8 {
	margin-bottom: 8px;
}
.mbottom_10 {
	margin-bottom: 10px;
}
.mbottom_13 {
	margin-bottom: 13px;
}
.mbottom_15 {
	margin-bottom: 15px;
}
.mbottom_18 {
	margin-bottom: 18px;
}
.mbottom_20 {
	margin-bottom: 20px;
}
.mbottom_25 {
	margin-bottom: 25px;
}
.mbottomPer25{
	margin-bottom: 25%;
}
.margin_auto{
	margin:0 auto;
}

/* 左内边距 */
.pleft_0{
	padding-left:3 !important;
}
.pleft_5{
	padding-left:5 !important;
}
.pleft_8{
	padding-left:8 !important;
}
.pleft_10{
	padding-left:10 !important;
}
.pleft_13{
	padding-left:13 !important;
}
.pleft_15{
	padding-left:15 !important;
}
.pleft_18{
	padding-left:18 !important;
}
.pleft_20{
	padding-left:20 !important;
}
.pleftPer25{
	padding-left: 25%;
}

/* 上内边距 */
.ptop_0{
	padding-top:3 !important;
}
.ptop_5{
	padding-top:5 !important;
}
.ptop_8{
	padding-top:8 !important;
}
.ptop_10{
	padding-top:10 !important;
}
.ptop_13{
	padding-top:13 !important;
}
.ptop_15{
	padding-top:15 !important;
}
.ptop_18{
	padding-top:18 !important;
}
.ptop_20{
	padding-top:20 !important;
}
.ptopPer25{
	padding-top: 25%;
}

/* 右内边距 */
.pright_0{
	padding-right:3 !important;
}
.pright_5{
	padding-right:5 !important;
}
.pright_8{
	padding-right:8 !important;
}
.pright_10{
	padding-right:10 !important;
}
.pright_13{
	padding-right:13 !important;
}
.pright_15{
	padding-right:15 !important;
}
.pright_18{
	padding-right:18 !important;
}
.pright_20{
	padding-right:20 !important;
}
.prightPer25{
	padding-right: 25%;
}

/* 下内边距 */
.pbottom_0{
	padding-bottom:3 !important;
}
.pbottom_5{
	padding-bottom:5 !important;
}
.pbottom_8{
	padding-bottom:8 !important;
}
.pbottom_10{
	padding-bottom:10 !important;
}
.pbottom_13{
	padding-bottom:13 !important;
}
.pbottom_15{
	padding-bottom:15 !important;
}
.pbottom_18{
	padding-bottom:18 !important;
}
.pbottom_20{
	padding-bottom:20 !important;
}
.pbottomPer25{
	padding-bottom: 25%;
}

/* 垂直居中 */
.v_top {
	vertical-align: top
}
.v_middle {
	vertical-align: middle;
}
.v_bottom {
	vertical-align: bottom;
}

/* 隐藏显示 */
.hidden,.none {
	display: none !important;
}
.show {
	display: block;
}
.hidden_text {
	display: none;
	overflow: hidden;
}

/* 背景色 */
.bg-000{
	background: #000000;
}
.bg-fff{
	background: #ffffff;
}
.bg-ccc{
	background: #cccccc;
}

/* 字体大小 */
.ft12{
	font-size: 12px !important;
}
.ft13{
	font-size: 13px;
}
.ft14{
	font-size: 14px;
}
.ft15{
	font-size: 15px;
}
.ft16{
	font-size: 16px;
}
.ft17{
	font-size: 17px;
}
.ft18{
	font-size: 18px;
}
.ft20{
	font-size: 20px;
}
.ft22{
	font-size: 22px;
}
.ft24{
	font-size: 24px;
}
.ft26{
	font-size: 26px;
}
.ft28{
	font-size: 28px;
}
.ft30{
	font-size: 30px;
}
.ft32{
	font-size: 32px;
}
.ft34{
	font-size: 34px;
}
.ft36{
	font-size: 36px;
}
.ft38{
	font-size: 38px;
}
.ft40{
	font-size: 40px;
}
.ft48{
	font-size: 48px;
}
.ft60{
	font-size: 60px;
}
.ft120{
	font-size: 120px;
}
.ft128{
	font-size: 128px;
}
.ftP100{
	font-size: 100%;
}
.ftP120{
	font-size: 120%;
}
.ftP200{
	font-size: 200%;
}

/* 字体粗细 */
.ftW400{
	font-weight:400;
}
.ftW500{
	font-weight:500;
}
.ftW600{
	font-weight:600;
}
.ftW700{
	font-weight:700;
}

/* 默认字体样式 */
.font_normal {
	font-family: "microsoft yahei";
	font-size: normal;
	font-weight: normal;
}

/* 字体颜色 */
.color-link{
	color: #337ab7;
}
.color-333{
	color: #333;
}
.color-666{
	color: #666;
}
.color-999{
	color: #999;
}
.color-orange{
	color: #ffa100;
}
.color-red{
	color: #fe0000;
}
.color-greenIcon{
	color: #03BE5A;
}
.color-redIcon{
	color: #D3335C;
}

/* 边框样式  */
.border0 {
	border: 0px !important;
}
.border1 {
	border: 1px solid #EAEBEF;
}
.border2 {
	border: 2px solid #EAEBEF;
}
.bordertop {
	border-top: 1px solid #EAEBEF;
}
.borderbottom {
	border-bottom: 1px solid #EAEBEF;
}
.borderleft {
	border-left: 1px solid #EAEBEF;
}
.borderright {
	border-right: 1px solid #EAEBEF;
}
.border-e9{
	border:1px solid #e9e9e9;
}
.border-top-0{
	border-top:0 !important;
}
.border-right-0{
	border-right:0 !important;
}
.border-bottom-0{
	border-bottom:0 !important;
}
.border-left-0{
	border-left:0 !important;
}

/* 高度  */
.height20 {
	height: 20px;
}
.height28 {
	height: 28px;
}
.height30 {
	height: 30px;
}
.height50 {
	height: 50px;
}
.height80 {
	height: 80px;
}
.height100 {
	height: 100px;
}
.height150 {
	height: 150px;
}
.height200 {
	height: 200px;
}
.height250 {
	height: 250px;
}
.height300 {
	height: 300px;
}
.height350 {
	height: 350px;
}
.height450 {
	height: 450px;
}
.height550 {
	height: 550px;
}
.height650 {
	height: 650px;
}

/* 宽度  */
.width95 {
	width: 95px;
}
.width100 {
	width: 100px;
}
.width120 {
	width: 120px;
}
.width200 {
	width: 200px;
}
.width400 {
	width: 400px;
}
.width560 {
	width: 560px;
}
.widthPer5 {
	width: 5%;
}
.widthPer10 {
	width: 10%;
}
.widthPer15 {
	width: 15%;
}
.widthPer20 {
	width: 20%;
}
.widthPer25 {
	width: 25%;
}
.widthPer30 {
	width: 30%;
}
.widthPer35 {
	width: 35%;
}
.widthPer33 {
	width: 33%;
}
.widthPer40 {
	width: 40%;
}
.widthPer42 {
	width: 42%;
}
.widthPer46 {
	width: 46%;
}
.widthPer48 {
	width: 48%;
}
.widthPer50 {
	width: 50%;
}
.widthPer53 {
	width: 53%;
}
.widthPer57 {
	width: 57%;
}
.widthPer69 {
	width: 69%;
}
.widthPer70 {
	width: 70%;
}
.widthPer80 {
	width: 80%;
}
.widthPer94 {
	width: 94%;
}
.widthPer100 {
	width: 100%;
}

/* 光标类型 */
.hand {
	cursor: pointer;
}

/* 文本下划线 */
.text_dec_underline{
	text-decoration: underline;
}
.text_dec_none{
	text-decoration: none;
}

/* 其他 */
.white-space-nowrap{
	white-space:nowrap;/*所有的文本都显示在这一行*/
}
.overflow-hidden{
	overflow:hidden;/*超过指定的宽度和高度也隐藏*/
}
.text-overflow {
	text-overflow:ellipsis;/*多余的文本用省略号显示*/
	
}


@keyframes animationBefore {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animationI {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animationAfter {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
